<div class="container mt-4 shadow p-4 mb-4 bg-white rounded-1">
  <div class="container">
      <h2>Proyectos <a class="ms-3" data-bs-toggle="modal" data-bs-target="#miModalexpeadd" data-toggle="tooltip" data-placement="top" title="Agregar">
          <i  i-bs name="plus-circle-fill" style="color:black"></i>
            </a>
       </h2>
       <div class="banner-1">
       <img src="../../../assets/imagenes/proyectos.png"  width="1000" height="400"     > 
      </div> 
  </div>
    <ul class="list-unstyled">
            <li *ngFor="let proyecto of proyectoList" class="list group-item list-group-item-action"
               >
             <div class="row">
                <div class="col-2" >
                <img [src]="proyecto.imagen" class="rounded-circle" width="120" height="120" alt="" >
                </div>
             <div class="col-10" > 
                <div class="float-end " ><a class="me-4" data-bs-toggle="modal" data-bs-target="#miModalexpeedit" data-toggle="tooltip" data-placement="top" title="Editar">
                   <i  i-bs name="pencil-fill" style="color:black" ></i></a>
                   
                   <a  href="" > 
                   <i  i-bs name="x-circle-fill" style="color:black" data-toggle="tooltip" data-placement="top" title="Eliminar"></i></a>
                 </div>
           
              <h4>{{proyecto.nombre}}</h4>
                 <h5>{{proyecto.detalle}}</h5>
                 <h6>{{proyecto.fecha}}</h6>
                <p>{{proyecto.link}}</p>
               
             </div>
               </div>
            </li>
            
        </ul>
        
      </div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

