<div class="container mt-4 shadow p-4 mb-4 bg-white rounded-1">
    <div class="container mt-2">
    <h2>Proyectos</h2>
    <div class="row">
        <div class="col-lg-2">
            <img src="../../../assets/imagenes/proyectos.png" class="rounded-circle" width="120" height="120" alt="" >
        </div>
     <div class="col-10"> 
        <div class="float-end"><a class="me-4" href="">
            <i i-bs name="pencil-fill" style="color:black"></i></a>
            <a href=""> 
            <i i-bs name="x-circle-fill" style="color:black"></i></a>
        </div>
        <ul class="list-unstyled">
            <li>Portfolio</li>
            <li>Task-List</li>
            <li>Clima</li>
                 
        </ul>
        
   </div>
</div>
</div>
