<div class="container mt-4 shadow p-4 mb-4 bg-white rounded-1">
    <div class="container mt-2">
    <h2>Proyectos</h2>
    <div class="row">
        <div class="col-lg-2">
            <img src="../../../assets/imagenes/proyectos.png" class="rounded-circle" width="120" height="120" alt="" >
        </div>
     <div class="col-10"> 
        <div class="float-end"><a class="me-4" href="" >
            <i i-bs name="pencil-fill" style="color:black"></i></a>
            <a href=""> 
            <i i-bs name="x-circle-fill" style="color:black"></i></a>
        </div>
        <ul class="list-unstyled">
            <li>Portfolio</li>
            <li>Task-List</li>
            <li>Clima</li>
                 
        </ul>
        
   </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
