<div class="container mt-4 shadow p-4 mb-4 bg-white rounded-1">
    <h2>Educación</h2>

    
        <ul class="list-unstyled">
            <li *ngFor="let educacion of educacionList">
             <div class="row">
                <div class="col-2">
                <img [src]="educacion.img" class="rounded-circle" width="120" height="120" alt="" >
                </div>
             <div class="col-10"> 
                <div class="float-end "><a class="me-4" href="">
                    <i i-bs name="pencil-fill" style="color:black"></i></a>
                    <a href=""> 
                     <i i-bs name="x-circle-fill" style="color:black"></i></a>
                 </div>
           
              <h4>{{educacion.school}}</h4>
                 <h5>{{educacion.career}}</h5>
                 <h6>{{educacion.title}}</h6>
                <p><time>{{educacion.start}}</time> - <time>{{educacion.end}}</time></p>
               
             </div>
               </div>
            </li>
            
        </ul>
              
                     
        
              
        
        
        
         
        

</div>