<div class="container mt-4 shadow p-4 mb-4 bg-white rounded-1">
    <h2>Educación</h2>

    
        <ul class="list-unstyled">
            <li *ngFor="let educacion of educacionList" class="list group-item list-group-item-action"
                  >
             <div class="row">
                <div class="col-2">
                <img [src]="educacion.img" class="rounded-circle" width="120" height="120" alt="" >
                </div>
             <div class="col-10"> 
                <div class="float-end ">
                  <a class="me-4" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i i-bs name="pencil-fill" style="color:black"></i></a>
                    <a href=""> 
                     <i i-bs name="x-circle-fill" style="color:black"></i></a>
                 </div>
           
              <h4>{{educacion.school}}</h4>
                 <h5>{{educacion.career}}</h5>
                 <h6>{{educacion.title}}</h6>
                <p><time>{{educacion.start}}</time> - <time>{{educacion.end}}</time></p>
               
             </div>
               </div>
            </li>
            
        </ul>
        <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <form (ngSubmit)="editar()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Establecimiento Educativo</label>
              <input type="text" [(ngModel)]="educacion.school" class="form-control" name="school" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Carrera</label>
              <input type="text" [(ngModel)]="educacion.career" class="form-control" name="career">
            </div>
            
            <div class="mb-3">
               <label for="exampleInputPassword1" class="form-label">Título</label>
               <input type="text" [(ngModel)]="educacion.title" class="form-control" name="title">
             </div>

             <div class="mb-3">
               <label for="exampleInputPassword1" class="form-label">Año</label>
               <input type="text" [(ngModel)]="educacion.start" class="form-control" name="start">
             </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary" >Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
              
                     
        
              
        
        
        
         
        

</div>