<div class="container mt-4 shadow p-4 mb-4 bg-white rounded-1">
    <h2>Educación</h2>

    
        <ul class="list-unstyled">
            <li>
             <div class="row">
                <div class="col-2">
                <img src="../../../assets/imagenes/logo_fce.jpg" class="rounded-circle" width="120" height="120" alt="" >
                </div>
             <div class="col-10"> 
                <div class="float-end"><a href="">
                    <i i-bs name="pencil-fill" style="color:black"></i></a>
                 </div>
           
              <h5>UNLP</h5>
                 <p>Facultad de Ciencias Económicas, Lic. en Economía</p>
                <p><time>1999</time> - <time>incompleto</time></p>
               
             </div>
               </div>
            </li>
            <li>
                <div class="row">
                <div class="col-2">
                <img src="../../../assets/imagenes/Logo_UNLP.jpg" class="rounded-circle" width="120" height="120" alt="" >
                </div>
              <div class="col-10"> 
                <div class="float-end"><a href="">
                    <i i-bs name="pencil-fill" style="color:black"></i></a>
                    </div>
           
              <h5>ENET N° 1</h5>
                <p>Industrial, Técnico Electromecánico</p>
                <p><time>1992</time> - <time>1997</time></p>
                          
             </div>
            </div>
            </li>
        </ul>
   
                        
                     
        
    
                
        
        
        
         
        

</div>