<div class="container mt-2 border border-black">
    <div class="row">
        <div class="class col-2">
         <h2>Acerca de</h2>
            <img src="../../../assets/imagenes/bono.jpg" class="rounded-circle" width="120" height="120" alt="">
            <h4>Sebastian Silva</h4>
            <p>Full Stack Developer Jr.</p>
        </div>
        <div class="class col-10">
            <div class="right"><a href="">
            <i i-bs name="pencil-fill" style="color:black"></i></a>
            </div>
            <div class="d-flex align-items-center">   
            <p class="d-flex align-items-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex corporis quis inventore tempore corrupti praesentium voluptatem deleniti tempora molestias nam accusamus animi facere saepe explicabo rem, commodi exercitationem quia sunt.</p>
            </div> 
        </div>
    </div>
</div>