<!-- //navbar -->
  <div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ms-4" href="#" >
    <img src="../../../assets/imagenes/APLogo-20-20.png" width="90" height="80" class="d-inline block h3 "  alt="" class="">#Yo Programo</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
        <a class="nav-link " href="#">
          <i i-bs name="twitter" style="color:white"></i> Twitter <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">
          <i i-bs name= "facebook" style="color:white"></i> Facebook</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " href="#">
          <i i-bs name="instagram" style="color:white"></i> Instagram</a>
        </li>
       <button  class="btn btn-primary me-2" *ngIf="!loginService" routerLink="/iniciar-sesion">
         <i i-bs name="box-arrow-in-right" style="color:white"></i> Login</button>
       
    <li><a *ngIf="loginService" (click)="cerrarSesion()" routerLink="/iniciar-sesion" class="btn btn-primary me-2">Log-Out</a></li>
      </ul>
    </div>
 </nav>
 </div>
 <div class="banner-1">
     <h3>banner</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita aperiam error maxime deserunt quam, repudiandae consectetur suscipit eaque dignissimos pariatur doloribus sunt atque esse est quidem voluptatum. Rerum, ullam neque!</p>
 </div>
 
  