<!-- //navbar -->
  <div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ms-4" routerLink="/portfolio" >
    <img src="../../../assets/imagenes/APLogo-20-20.png" width="90" height="80" class="d-inline block h3 "  alt="" class="">#Yo Programo</a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#opciones" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="opciones">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
        <a class="nav-link " href="http://www.twitter.com/nanossilva" target="_blank" >
          <i i-bs name="twitter" style="color:white"></i> Twitter <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/sebastian.silva.399488" target="_blank">
          <i i-bs name= "facebook" style="color:white"></i> Facebook</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " href="http://www.instagram.com" target="_blank">
          <i i-bs name="instagram" style="color:white"></i> Instagram</a>
        </li>
       <button  class="btn btn-primary me-2" *ngIf="!loginService" routerLink="/cerrar-sesion">
         <i i-bs name="box-arrow-in-right" style="color:white"></i> Login</button>
       
        <li><a *ngIf="loginService" (click)="cerrarSesion()" 
          routerLink="/cerrar-sesion" class="btn btn-primary me-2" >
          <i i-bs name="box-arrow-in-left" style="color:white"  width="20" height="20"  ></i>Salir</a>  
        </li>
      </ul>
    </div>
 </nav>
 </div>
 <div class="banner">
   <img src="./../../../assets/imagenes/banner_color.png" id="img_banner">
  
 </div>
 
  