<div class="container mt-4 shadow p-4 mb-4 bg-white rounded-1">
    <div class="container mt-2">
        <div class="row">
            <h2>Experiencia</h2>
            <div class="col-2">
            <img src="../../../assets/imagenes/logo_bs_as.jpg" class="rounded-circle" width="120" height="120" alt="" >
        </div>
            <div class="col-10"> 
                <div class="float-end"><a href="">
                    <i i-bs name="pencil-fill" style="color:black"></i></a>
                    </div>
        <ul class="list-unstyled">
            <li>
            <h4>Programa Sumar - Ministerio de Salud Pcia. Bs As</h4>
            
            <h5><time>2014</time> - <time>2022</time></h5>
            <p>Asistente Técnico Area de Planificación y Monitoreo</p>
            <p>Diseñar, mantener y actualizar las bases de datos de Estadísticas Sanitarias, Económicas y Financieras del Proyecto y analizar su cumplimiento.</p>
            
        </li>
        </ul>   
        </div>

        </div>
    </div>












</div>
