<div class="container mt-4 shadow p-4 mb-4 bg-white rounded-1">
    <div class="container mt-2">
        <div class="row">
            <h2>Experiencia</h2>
            <div class="col-lg-2">
            <img src="../../../assets/imagenes/logo_bs_as.jpg" class="rounded-circle" width="120" height="120" alt="" >
            </div>
            <div class="col-10"> 
                <div class="float-end"><a class="me-4" href="">
                    <i i-bs name="pencil-fill" style="color:black"></i></a>
                    <a href=""> 
                    <i i-bs name="x-circle-fill" style="color:black"></i></a>
                    </div>
            <ul class="list-unstyled">
            <li *ngFor="let experiencia of experienciaList">
            <h4>{{experiencia.company}}</h4>
            
            <h5><time>{{experiencia.start}}</time> - <time>{{experiencia.end}}</time></h5>
            <p>{{experiencia.position}}</p>
            <p>{{experiencia.function}}</p>
            
            </li>
            </ul>   
        </div>

        </div>
    </div>
</div>
