<div class="container mt-4 shadow p-4 mb-4 bg-white rounded-1">
    <div class="container mt-2">
        <h2>Idiomas  </h2>     
         
        <ul class="list-unstyled">
         <li class="list group-item list-group-item-action">
             <div class="row">
                <div class="col-2 " >
                    <img src="../../../assets/imagenes/ingles.jpg" class="rounded-circle" width="140" height="140" alt="" >
                </div>
                <div class="col-10" > 
                <h4>Ingles</h4>
                 <h6 class="container mt-4">Nivel intermedio</h6>
                </div> 
                    </div>       
                </li>
                <li class="list group-item list-group-item-action">
                    <div class="row mt-4">
                       <div class="col-2  " >
                           <img src="../../../assets/imagenes/portugues.jpg" class="rounded-circle" width="140" height="140" alt="" >
                       </div>
                       <div class="col-10 " > 
                       <h4>Portugues</h4>
                        <h6 class="container mt-4">Nivel Básico</h6>
                       </div> 
                           </div>       
                       </li>
    
            </ul>
            </div>
            </div>
              
                           
       
       